
        body {
            font-family: cursive, Georgia, 'Courier New', Courier, monospace;
            margin: 0;
            padding: 0;

        }

        .todo-container {
            max-width: 500px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);

        }

        h1 {
            text-align: center;

        }

        .input-container {
            display: flex;
            margin-top: 30px;


        }

        input[type="text"] {
            flex: 1;
            padding: 10px;
            box-sizing: border-box;
        }

        button {
            background-color: rgb(255, 89, 89);
            color: #fff;
            border: none;
            padding: 5px 26px;
            cursor: pointer;
        }

        .button4 {
            border-radius: 10px;
        }

        ul {
            list-style: none;
            padding: 0;
            justify-content: space-between;
        }

        li {
            margin: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            border: 1px solid gray;
            border-radius: 5px;
        }

        .completed {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-decoration: line-through;
            color: green;
        }
        
    